GarageQuoteSheetWeb/App_WebReferences/H03Rating/HO3ALEngine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Rate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pFacts" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RateSoapIn">
    <wsdl:part name="parameters" element="tns:Rate" />
  </wsdl:message>
  <wsdl:message name="RateSoapOut">
    <wsdl:part name="parameters" element="tns:RateResponse" />
  </wsdl:message>
  <wsdl:portType name="HO3ALEngineSoap">
    <wsdl:operation name="Rate">
      <wsdl:input message="tns:RateSoapIn" />
      <wsdl:output message="tns:RateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HO3ALEngineSoap" type="tns:HO3ALEngineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rate">
      <soap:operation soapAction="http://tempuri.org/Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HO3ALEngineSoap12" type="tns:HO3ALEngineSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rate">
      <soap12:operation soapAction="http://tempuri.org/Rate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HO3ALEngine">
    <wsdl:port name="HO3ALEngineSoap" binding="tns:HO3ALEngineSoap">
      <soap:address location="http://devweb01/RatingEngineAL/HO3ALEngine.asmx" />
    </wsdl:port>
    <wsdl:port name="HO3ALEngineSoap12" binding="tns:HO3ALEngineSoap12">
      <soap12:address location="http://devweb01/RatingEngineAL/HO3ALEngine.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>