GarageQuoteSheetWeb/App_WebReferences/WcfImageRightService/ImageRightService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ImageRightService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://siu-alp-devweb-001:85/ImageRightService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://siu-alp-devweb-001:85/ImageRightService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://siu-alp-devweb-001:85/ImageRightService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://siu-alp-devweb-001:85/ImageRightService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IImageRightService_BuildIdxAssigned_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildIdxAssigned" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_BuildIdxAssigned_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildIdxAssignedResponse" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_GetFileLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileLocation" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_GetFileLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_copyFileToIR_InputMessage">
    <wsdl:part name="parameters" element="tns:copyFileToIR" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_copyFileToIR_OutputMessage">
    <wsdl:part name="parameters" element="tns:copyFileToIRResponse" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_BuildIdxAssignedNet2O_InputMessage">
    <wsdl:part name="parameters" element="tns:BuildIdxAssignedNet2O" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_BuildIdxAssignedNet2O_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuildIdxAssignedNet2OResponse" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_GetIRAttributes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIRAttributes" />
  </wsdl:message>
  <wsdl:message name="IImageRightService_GetIRAttributes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIRAttributesResponse" />
  </wsdl:message>
  <wsdl:portType name="IImageRightService">
    <wsdl:operation name="BuildIdxAssigned">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageRightService/BuildIdxAssigned" message="tns:IImageRightService_BuildIdxAssigned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageRightService/BuildIdxAssignedResponse" message="tns:IImageRightService_BuildIdxAssigned_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageRightService/GetFileLocation" message="tns:IImageRightService_GetFileLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageRightService/GetFileLocationResponse" message="tns:IImageRightService_GetFileLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="copyFileToIR">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageRightService/copyFileToIR" message="tns:IImageRightService_copyFileToIR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageRightService/copyFileToIRResponse" message="tns:IImageRightService_copyFileToIR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuildIdxAssignedNet2O">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageRightService/BuildIdxAssignedNet2O" message="tns:IImageRightService_BuildIdxAssignedNet2O_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageRightService/BuildIdxAssignedNet2OResponse" message="tns:IImageRightService_BuildIdxAssignedNet2O_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIRAttributes">
      <wsdl:input wsaw:Action="http://tempuri.org/IImageRightService/GetIRAttributes" message="tns:IImageRightService_GetIRAttributes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IImageRightService/GetIRAttributesResponse" message="tns:IImageRightService_GetIRAttributes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IImageRightService" type="tns:IImageRightService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuildIdxAssigned">
      <soap:operation soapAction="http://tempuri.org/IImageRightService/BuildIdxAssigned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileLocation">
      <soap:operation soapAction="http://tempuri.org/IImageRightService/GetFileLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="copyFileToIR">
      <soap:operation soapAction="http://tempuri.org/IImageRightService/copyFileToIR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuildIdxAssignedNet2O">
      <soap:operation soapAction="http://tempuri.org/IImageRightService/BuildIdxAssignedNet2O" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIRAttributes">
      <soap:operation soapAction="http://tempuri.org/IImageRightService/GetIRAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageRightService">
    <wsdl:port name="BasicHttpBinding_IImageRightService" binding="tns:BasicHttpBinding_IImageRightService">
      <soap:address location="http://siu-alp-devweb-001:85/ImageRightService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>