GarageQuoteSheetWeb/App_WebReferences/WcfImageRightService/ImageRightService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://siu-alp-devweb-001:85/ImageRightService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="BuildIdxAssigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Dictpara" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildIdxAssignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildIdxAssignedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFileLocationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFileToIR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFullFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VersionID" type="xs:int" />
        <xs:element minOccurs="0" name="sFilename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="copyFileToIRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="copyFileToIRResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildIdxAssignedNet2O">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtParamTable" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildIdxAssignedNet2OResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuildIdxAssignedNet2OResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIRAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="AppID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="AppTaskID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="VersionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIRAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetIRAttributesResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>